- if current_user
  %h2 Pools You're Managing
  %table.table.table-striped
    %tr
      %th Pool ID
      %th Pool Name
    - @managed_pools.each do |pool|
      %tr
        %td= pool.id
        %td= pool.name

  %h2 Pools You're In
  %table.table.table-striped
    %tr
      %th Pool ID
      %th Pool Name
    - @pools.each do |pool|
      %tr
        %td= pool.id
        %td= pool.name
        %button.btn.btn-lg.btn-default
          = link_to "View Pool", pool_path(pool.id)
  %h2 Public Pools
  %table.table.table-striped
    %tr
      %th Pool ID
      %th Pool Name
    - @public_pools.each do |pool|
      %tr
        %td= pool.id
        %td= pool.name
  %button.btn.btn-lg.btn-default
    = link_to "Create Pool", new_pool_path
